.ol{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-top: 10px;
  }
.flexi{
    display: flex;
    gap: 100px;
    margin-left: 90px;

}
.li{
    list-style-type: none;
}
.flex1{
    display: flex;
    gap: 400px;
    background-color: rgb(225, 225, 225);

}
div{
   
}